<%- include('../../bootstrap') %>
<%- include('../../header') %>
<%- include('../../component/refresh') %>

<div class="container-fluid mt-4 border-left border-right" style="min-height: 70vh">
    <div class="row mt-4 mb-4 px-4">
        <div class="col-md-12 mt-1">
            <center>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="filterQues">
                      <i class="fa fa-filter"></i>
                  </label>
                </div>
                <select class="custom-select" id="filterQues">
                  <option selected>sort by</option>
                  <option value="upvote">upvote</option>
                  <option value="downvote">downvote</option>
                  <option value="answers">answers</option>
                  <option value="clear">latest</option>
                </select>
              </div>
              <input type="text" value="<%= user.username %>" id="username" hidden>
            </center>
        </div>
    </div>
    <hr class="hr">

    <% if(!sort) { %>
    <% user.question.forEach(function(question) { %>
    <div class="row mb-2 px-2 py-1">
        <div class="col-md-8">
            <div class="row mb-1 bg-light rounded">
                <div class="col-12">
                    <span class=" float-right p-2 text-primary" style="font-size: 12px;">
                        <%= question.date %>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <a href="/api/questions/<%= question._id %>/<%= user.username %>/<%= question.text %>" style="text-decoration: none">
                                <h5 style="cursor: pointer;font-weight: bold" id="quesText"
                                    class="h4 text-dark mt-2">
                                    <%= question.text %>
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-3 text-center">
                    <span style="font-size: 13px;">answers</span>
                    <hr class="hr">
                    <span style="font-weight:600; font-size: 18px; color: #6A737C;">
                        <%= question.answers.length %>
                    </span>
                </div>
                <div class="col-3 text-center">
                    <span style="font-size: 13px;">vote up</span>
                    <hr class="hr">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw d-none" id="loader<%= question._id %>" style="color: #2F363F"></i>
                    <span class="sr-only">Loading...</span>
                    <span id="<%= question._id %>"
                         style="font-weight:600; font-size: 18px; color: #6A737C;">
                        <%= question.upvotes.length %>
                    </span>
                </div>
                <div class="col-3 text-center">
                    <span style="font-size: 13px;">vote down</span>
                    <hr class="hr">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw d-none" id="loader<%= question._id %>" style="color: #2F363F"></i>
                    <span class="sr-only">Loading...</span>
                    <span id="<%= question._id %>"
                         style="font-weight:600; font-size: 18px;color: #6A737C;">
                        <%= question.downvotes.length %>
                    </span>
                </div>
               <% if(auth) { %>
                    <% if(account) { %>
                        <div class="col-3 text-center">
                                <span style="font-size: 13px;">delete</span>
                                <hr class="hr">
                                <form action="/api/questions/deletequestion/<%= question._id %>/<%= user.username %>" method="POST">
                                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                  </form>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <hr class="hr">
    <% }) %>
    <% } %>

    <% if(sort) { %>
    <% question.forEach(function(question) { %>
    <div class="row mb-2 px-2 py-1">
        <div class="col-md-8">
            <div class="row mb-1 bg-light rounded">
                <div class="col-12">
                    <span class=" float-right p-2 text-primary" style="font-size: 12px;">
                        <%= question.date %>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <a href="/api/questions/<%= question._id %>/<%= user.username %>/<%= question.text %>" style="text-decoration: none">
                                <h5 style="cursor: pointer;font-weight: bold" id="quesText"
                                    class="h4 text-dark mt-2">
                                    <%= question.text %>
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-3 text-center">
                    <span style="font-size: 13px;">answers</span>
                    <hr class="hr">
                    <span style="font-weight:600; font-size: 18px; color: #6A737C;">
                        <%= question.answers.length %>
                    </span>
                </div>
                <div class="col-3 text-center">
                    <span style="font-size: 13px;">vote up</span>
                    <hr class="hr">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw d-none" id="loader<%= question._id %>" style="color: #2F363F"></i>
                    <span class="sr-only">Loading...</span>
                    <span id="<%= question._id %>"
                         style="font-weight:600; font-size: 18px; color: #6A737C;">
                        <%= question.upvotes.length %>
                    </span>
                </div>
                <div class="col-3 text-center">
                    <span style="font-size: 13px;">vote down</span>
                    <hr class="hr">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw d-none" id="loader<%= question._id %>" style="color: #2F363F"></i>
                    <span class="sr-only">Loading...</span>
                    <span id="<%= question._id %>"
                         style="font-weight:600; font-size: 18px;color: #6A737C;">
                        <%= question.downvotes.length %>
                    </span>
                </div>
               <% if(auth) { %>
                    <% if(account) { %>
                        <div class="col-3 text-center">
                                <span style="font-size: 13px;">delete</span>
                                <hr class="hr">
                                <form action="/api/questions/deletequestion/<%= question._id %>/<%= user.username %>" method="POST">
                                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                  </form>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <hr class="hr">
    <% }) %>
    <% } %>

</div>
<%- include('../../footer') %>
<script src="/js/profile/question/viewquestion.js"></script>