<%- include('bootstrap') %>
<%- include('header') %>

<body style="background:#34495E">
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 p-2 shadow-lg border rounded">
                <%- include('register') %>
            </div>
        </div>
    </div>

<%- include('component/refresh') %>
<%- include('footer') %>

</body>