<%- include('../../../bootstrap') %>

<body>
    
    <div class="container mt-5 mb-3 shadow-lg rounded" style="min-height: 50vh;">
        <div class="row">
            <div class="col-12 mt-2 mb-3 text-center" style="color: #0A3D62;">
                <h5><%= courtcase.title %></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <strong>Court : </strong>
                <%= courtcase.court %>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <strong>Decided date : </strong><%= courtcase.decideddate %>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <strong>Description : </strong>
                
                    <%= courtcase.description %>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <strong>Reporter : </strong>
                
                    <%= courtcase.reporter %>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <strong>Docket id : </strong><%= courtcase.docketid %>
            </div>
        </div>
    </div>


</body>
<%- include('../../../footer') %>
